<app-root></app-root>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario</title>
</head>
<body>
    <div class="container">
        <h2>Search Someone</h2>
        <form id="buscarForm">
            <label for="nombre">Username</label>
            <input [(ngModel)]="username" type="text" id="nombre" name="nombre" required>

            <button (click)="findUser()" type="submit">Search</button>
        </form>
        <div class="resultados" id="resultados">{{user.username}}
            {{user.password}}</div>
    </div>
</body>
</html>


